
.idea/hrdlo.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
Server/__pycache__/PiCamCapture.cpython-37.pyc
Client/__pycache__/GUI.cpython-37.pyc
Server/__pycache__/PiCamCapture.cpython-37.pyc
*.pyc
